
.header-bg  {
   background: linear-gradient(rgba(255, 112, 29, 0.78), rgba(255, 248, 29, 0.5)), url(images/banner.jpeg);
    color: #fff;
}

.brand-icon a , .nav-area-main a {
	color: #fff;
}

 .nav-area-main a:hover {
	color: #000;
}

.brand-icon a:hover {
	color: #fff;
}

.inline-banner {
	width: 98%;

}

body{

    background: linear-gradient(rgba(169, 68, 66, 0.47), rgba(230, 203, 103, 0.54)), url(images/background.jpeg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

footer {
	    background-color: rgba(51, 51, 51, 0.52);
    padding: 16px;
    color: #fff;
    width: 105%;

}


.thumbnail{
    background-color: transparent;
   
}

.h2{
    size: 10px;
}
