<div class="jumbotron header-bg">
 <h2>{{headerTitle}}</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <h3> Mitknits Coventry</h3>
        <table>
            <tr>
                <td>
                    <strong>Address</strong>
                    <br> 123 Terry Road
                    <br> Coventry
                    <br> Cv1 2ee
                    
                    <p>
                        <strong>Contact</strong>
                        <br><strong>Phone:</strong>(02476) 123456
                        <br><strong>Email:</strong> <a class="hyperlink" href= "mailto:r941@hotmial.com"> Infomation </a>

                    </p>

                </td>

                <td>
                    <strong>Opening Hours</strong>
                    <br>Mon: 8:00 -5:30pm
                    <br>Tue: 8:00 -5:30pm
                    <br>Wed: 8:00 -5:30pm
                    <br>Thu: 8:00 -5:30pm
                    <br>Fri: 8:00 -5:30pm
                    <br>Sat: 8:00 -3:00pm
                    <br>Sun: Closed

                </td>

                
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <h2>Contact Us</h2>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.3655872673908!2d-1.4975231841969956!3d52.40005012979162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48774bc941ace0c9%3A0x65ec0d0453dd909f!2sCoventry+CV1+2JR!5e0!3m2!1sen!2suk!4v1485343151840" " allowfullscreen></iframe></p>
    </div>
</div>


    