<div class="jumbotron header-bg">
 <h2>{{headerTitle}}</h2>
</div>
<h2>Womens Knitting Designs</h2>
<div class = "row">

 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design1.jpeg" alt = "Generic placeholder thumbnail">
    </div>
    
    <div class = "caption">
       <p>Learn how to make a stylish blanket</p>
       
       <p>
          <a href = "#" class = "btn btn-primary" role = "button">
             Button
          </a> 
          
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design2.jpg" alt = "Generic placeholder thumbnail">
    </div>
    
    <div class = "caption">
       <h3>Thumbnail label</h3>
       <p>Make this fashionable hat and scarf set in 20 hours.</p>
       
       <p>
          <a href = "#" class = "btn btn-primary" role = "button">
             Button
          </a> 
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design3.jpg" alt = "Generic placeholder thumbnail">
    </div>
    
    <div class = "caption">
       <h3>Thumbnail label</h3>
       <p>Knitting using different colors.</p>
       
       <p>
          <a href = "#" class = "btn btn-primary" role = "button">
             Button
          </a> 
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design4.jpg" alt = "Generic placeholder thumbnail">
    </div>
    
    <div class = "caption">
       <h3>Thumbnail label</h3>
       <p>Wobbaly hat.</p>
       
       <p>
          <a href = "#" class = "btn btn-primary" role = "button">
             Button
          </a> 

       </p>
       
    </div>
 </div>     
</div>

<p>Mens Knitting Designs</p>
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Learn how to make a stylish blanket</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
          
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men2.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Make this fashionable hat and scarf set in 20 hours.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men3.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Knitting using different colors.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men4.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Wobbaly hat.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
</div>  

<p>Childrens Knitting Designs</p> 
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Learn how to make a stylish blanket</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child2.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Make this fashionable hat and scarf set in 20 hours.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child3.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Knitting using different colors.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child4.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Wobbaly hat.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
      </div>
   </div>       
</div>  

<p>Baby Knitting Designs</p>
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Learn how to make a stylish blanket</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby2.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Make this fashionable hat and scarf set in 20 hours.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby3.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Knitting using different colors.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby4.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Wobbaly hat.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Button
            </a> 
         </p>
         
      </div>
   </div> 
</div>  

            
