<div class="jumbotron header-bg">
 <h2>{{headerTitle}}</h2>
</div>
<h2>Womens Knitting Designs</h2>
<div class = "row">

 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design1.jpeg" alt = "Knitted blanket">
    </div>
    
    <div class = "caption">
       <p>Learn how to make a stylish blanket</p>
       
       <p>
          <a href = "#" class = "btn btn-primary disabled" role = "button">
             coming soon
          </a> 
          
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design2.jpg" alt = "hat and scarf">
    </div>
    
    <div class = "caption">
       
       <p>Make this fashionable hat and scarf set</p>
       
       <p>
          <a href = "#" class = "btn btn-primary disabled" role = "button">
             coming soon
          </a> 
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design3.jpg" alt = "multi color blanket">
    </div>
    
    <div class = "caption">
       
       <p>Knitting using different colors</p>
       
       <p>
          <a href = "#" class = "btn btn-primary disabled" role = "button">
             coming soon
          </a> 
       </p>
       
    </div>
 </div>
 
 <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
       <img src = "images/design4.jpg" alt = "knitted hat">
    </div>
    
    <div class = "caption">
       
       <p>Wobbaly hat</p>
       
       <p>
          <a href = "#" class = "btn btn-primary disabled" role = "button">
             coming soon
          </a> 

       </p>
       
    </div>
 </div>     
</div>

<h2>Mens Knitting Designs</h2>
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men1.jpg" alt = "jumper">
      </div>
      
      <div class = "caption">
         
         <p>Learn how to make a stylish jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
          
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men2.jpg" alt = "man scarf">
      </div>
      
      <div class = "caption">
         
         <p>Make this scarf</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men3.jpg" alt = "jumper with arms">
      </div>
      
      <div class = "caption">
         
         <p>Make this grey jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/men4.jpg" alt = "jumper no arms">
      </div>
      
      <div class = "caption">
         
         <p>Make this no armed jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
</div>  

<h2>Childrens Knitting Designs</h2> 
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child1.jpg" alt = "childs jumper">
      </div>
      
      <div class = "caption">
         
         <p>Learn how to make a stylish hoody</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child2.jpg" alt = "red ridding hood overalls">
      </div>
      
      <div class = "caption">
         
         <p>Make this red riding hood cape</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child3.jpg" alt = "jumper">
      </div>
      
      <div class = "caption">
         
         <p>Brown jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/child4.jpg" alt = "jumper">
      </div>
      
      <div class = "caption">
         
         <p>Red jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
      </div>
   </div>       
</div>  

<h2>Baby Knitting Designs</h2>
<div class = "row">

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby1.jpg" alt = "baby jumper">
      </div>
      
      <div class = "caption">
         
         <p>Learn how to make a stylish jumper</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby2.jpg" alt = "baby boots">
      </div>
      
      <div class = "caption">
         
         <p>Make these baby boots</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby3.jpg" alt = "baby jumper">
      </div>
      
      <div class = "caption">
         
         <p>Baby Coat</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "images/baby4.jpg" alt = "baby dress">
      </div>
      
      <div class = "caption">
         
         <p>Childs knitted Dress</p>
         
         <p>
            <a href = "#" class = "btn btn-primary disabled" role = "button">
               coming soon
            </a> 
         </p>
         
      </div>
   </div> 
</div>  

            
