    <div class="navbar-header brand-icon">
    <a class="navbar-brand" href="#">MitKnits</a>                   
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
       <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
    </div>
        
    <ul id="myCollapsingList" class ="nav navbar-nav collapse navbar-collapse nav-area-main" >
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/designs">Designs</a></li>
        <li><a href="#!/news">News</a></li>
        <li><a href="#!/aboutus">About</a></li>
        <li><a href="#!/contactus">Contact</a></li>
    </ul>