<div class="jumbotron header-bg">
 <h2>{{headerTitle}}</h2>
</div>

<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="images/news.jpg" alt="...">
      <div class="caption">
        <h2 style="text-align: center;">News</h2>
        <p>Here at MitKnit Examine she brother prudent add day ham. Far stairs now coming bed oppose hunted become his. You zealously departure had procuring suspicion. Books whose front would purse if be do decay. Quitting you way formerly disposed perceive ladyship are. Common turned boy direct and yet. 

        Death there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those fully these way nay thing seems. </p>
         
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">     
      <h2>Mitknit video</h2>      
                  <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <video width="320" height="240" controls >
          <source src="video/Knit.mp4" type="video/mp4">
        </video>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
      <div class="caption">
        <div class="thumbnail">
        <h3>MitKnit news-December</h3>
        <p> In December MitKnits Examine she brother prudent add day ham. Far stairs now coming bed oppose hunted become his. You zealously departure had procuring suspicion. Books whose front would purse if be do decay. Quitting you way formerly disposed perceive ladyship are. Common turned boy direct and yet.  </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    
      
      <div class="caption">
      <div class="thumbnail">
        <h3>MitKnit news-January</h3>
        <p>exciting news for MitKnits  there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those fully these way nay thing seems. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
    </div>
  </div>
</div>
</div>


           

      
     
       

       
